// Place all the styles related to the Movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.movie-title h1 {
  height: 100px;
  background-color: #333;
  font-size: 50px;
  text-align: center;
  color: white;
  padding: 25px;
}

.movie-show p {
  font-size: 24px;
  color: black;
  margin-top: 20px;
  margin-bottom: 40px;
}

.movie-show h3 {
  margin-top: 60px;
}

.movie-comments-head h2, .movie-reviews-head h2 {
  height: 80px;
  background-color: #ffdb4d;
  font-size: 30px;
  text-align: center;
  color: black;
  padding: 25px;
}

.movie-index {
  height: 320px;
  margin: 30px;
}

.btn-index {
  margin-top: 30px;
}
