// Place all the styles related to the Opinions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.opinion {
  padding: 25px;
  margin: 5px;
  margin-right: 25px;
  background-color: #bfbfbf;
}
