<h1>Hello</h1>

<% @movies.each do |movie| %>
  <p>
    <%= movie.title %>
    <%= link_to "Show", movie_path(movie) %>
    <%= render 'authentication', movie: movie %>
  </p>
<% end %>
<p>
  <%= link_to "Add movie", new_movie_path %>
</p>
