<h1>Hello</h1>

<% @movies.each do |movie| %>
  <p>
    <%= movie.title %>
    <%= link_to "Show", movie_path(movie) %>

    <% if current_user && current_user.admin? %>
      <%= link_to "Edit", edit_movie_path(movie) %>
      <%= link_to "Delete", movie_path(movie),
                  method: :delete,
                  data: { confirm: 'Are you sure?' }%>
    <% end %>
  </p>
<% end %>
