<p>
  <h4>Author</h4>
  <%= opinion.author %>
</p>

<p>
  <h4>Rate</h4>
  <%= opinion.rate %>
</p>

<p>
  <h4>Opinion</h4>
  <%= opinion.body %>
</p>

<%= link_to 'Delete', movie_opinion_path(opinion.movie, opinion),
                      method: :delete,
                      data: { confirm: 'Are you sure?' } %>
